.grid-container {
    display: grid;
    width: 500px; 
    height: 500px; 
    border: 2px solid #000;
    background-color: white;
  }

  .grid-item {
    border: 1px solid #000;
  }

  body {
    height: 100vh;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(#c9eff0, #9ea4e4);
    display: flex;
    justify-content: center;
  }

  .main-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }

  button {
    padding: 10px;
    background-color: azure;
    color: #525454;
    border-radius: 2px;
  }

  .top-buttons, 
  .bottom-buttons {
    display: flex;
    justify-content: space-around;
    width: 500px;
  }

  .title {
    font-weight: bold;
    font-size: 42px;
  }

  .footer {
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
  }
