.grid-container {
    display: grid;
    width: 600px; 
    height: 600px; 
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  body {
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    color: #fff;
    background: linear-gradient(-45deg, #e2592f, #dd1964, #0faee7, #16d861);
    background-size: 400% 400%;
    animation: backgroundGradient 15s ease infinite;
  }

  @keyframes backgroundGradient {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 0%;
    }
  }

  .main-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }

  button {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    background-color: azure;
    color: #000000;
    border-radius: 10px;
    border: 2px solid rgb(140, 173, 176);
    cursor: pointer;
    width: 130px;
    height: 50px;
  }

  .bottom-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 550px;
  }

  .top-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
  }

  .title {
    font-weight: bold;
    font-size: 42px;
  }

  .footer {
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
  }

  .sliderValue, .slider-p {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: rgb(255, 255, 255);
  }

  .colour-pick {
    height: 50px;
    border-radius: 10px;
  }
